*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

/* NAVBAR */
header{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero span{
    color:#38bdf8;
}

.buttons{
    margin-top:20px;
}

.btn{
    padding:10px 20px;
    background:#38bdf8;
    color:black;
    border-radius:6px;
    text-decoration:none;
    margin:5px;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-5px);
}

.btn-outline{
    padding:10px 20px;
    border:2px solid #38bdf8;
    border-radius:6px;
    text-decoration:none;
    color:#38bdf8;
    margin:5px;
    transition:0.3s;
}

.btn-outline:hover{
    background:#38bdf8;
    color:black;
}

/* SECTIONS */
.section{
    padding:100px 10%;
    text-align:center;
}

.dark{
    background:#0f172a;
}

/* CARDS */
.card{
    background:#1e293b;
    padding:20px;
    margin:20px auto;
    border-radius:10px;
    width:60%;
    transition:0.4s;
}

.card:hover{
    transform:scale(1.05);
}

.project-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.project-card{
    width:1200px;
    padding:20px;
    background:#1e293b;
    border-radius:10px;
    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-10px);
}

footer{
    text-align:center;
    padding:20px;
    background:#020617;
}
/* SKILLS GRID */
.skills-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:30px;
    width:80%;
    margin:auto;
}

.skill-card{
    background:rgba(255,255,255,0.05);
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:0.3s ease;
    border:1px solid rgba(255,255,255,0.1);
}

.skill-card h3{
    margin-bottom:15px;
    color:#38bdf8;
}

.skill-card p{
    margin:6px 0;
    color:#cbd5e1;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(56,189,248,0.3);
}